/agnews-augment-avg-word-model.npz
/agnews-augment-transformer-model.npz
/agnews-test-avg-word-model.npz
/agnews-test-transformer-model.npz
/agnews-train-avg-word-model.npz
/agnews-train-transformer-model.npz
